<header class="header">
    <div class="container">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="./img/sprite.svg#logo"></use>
            </svg>
            <p>Writer<br>Works</p>
        </div>
        <svg class="burger-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="./img/sprite.svg#burger"></use>
        </svg>
        <div class="header__block">
            <nav>
                <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#close"></use>
                </svg>
                <div>
                    <a class="menu-link" href="#services">Услуги</a>
                    <a class="menu-link" href="#portfolio">Портфолио</a>
                    <a class="menu-link" href="#why-we">Почему мы</a>
                </div>
            </nav>
            <div class="header__block_contacts">
                <svg class="call" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#call"></use>
                </svg>
                <div>
                    <div class="phones">
                        <a href="tel:+380968834789">+380 (96) 883 47 89</a>
                        <a href="tel:+380631035218">+380 (63) <span>103</span>  <span>52</span> <span>18</span></a>
                    </div>
                    <div class="social">
                        <a href="tg://resolve?domain=WriterWorksBot">
                            <svg class="telegram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use xlink:href="./img/sprite.svg#telegram"></use>
                            </svg>
                            <svg class="telegram-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use xlink:href="./img/sprite.svg#telegram-white"></use>
                            </svg>
                        </a>
                        <a href="viber://chat?number=380668653077">
                            <svg class="viber" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use xlink:href="./img/sprite.svg#viber"></use>
                            </svg>
                            <svg class="viber-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use xlink:href="./img/sprite.svg#viber-white"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>