<main class="main">
    <img class="wave-img" src="./img/img1.png" alt="img">
    <section class="main-section">
        <div class="container">
            <div class="main-section__block1">
                <h1>Поможем в разработке диссертации <span class="red">"под ключ"</span></h1>
                <p>Какая у вас специальность? Сроки? Какие наработки имеются?</p>
                <a class="btn popup-link" href="#popup">Проконсультироваться</a>
                <span class="main-section__block1_span">Просчитаем стоимость вашей работы и сформируем предложение</span>
            </div>
            <div class="main-section__block2">
                <div class="main-section__block2_item">
                    <p>4<span>+</span></p>
                    <p>Года в деле</p>
                </div>
                <div class="main-section__block2_item">
                    <p>64<span>+</span></p>
                    <p>Трудов защитили, благодаря нам</p>
                </div>
                <div class="main-section__block2_item">
                    <p><span>до </span>40</p>
                    <p>лет опыт наших авторов</p>
                </div>
                <div class="main-section__block2_item">
                    <p><span>от </span>3</p>
                    <p>месяцев пишем работы</p>
                </div>
            </div>
            <div class="main-section__block3">
                <div class="main-section__block3_img"><img src="./img/img2.png" alt="img"></div>
                <div class="main-section__block3_part">
                    <h2>Знаем свое <span class="red">дело</span></h2>
                    <div class="subtitle">
                        <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use xlink:href="./img/sprite.svg#wave"></use>
                        </svg>
                        <p>К нам обращаются люди, которые знают, чего хотят, четко идут к своим целям в научных достижениях. И мы им в этом помогаем!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <p class="bg-title">услуги</p>
            <div class="services__block1" id="services">
                <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#wave"></use>
                </svg>
                <h2>Готовы выполнить для вас труд <span class="red">"под ключ"</span> или отдельные части</h2>
            </div>
            <div class="services__block2">
                <div class="services__block2_cards">
                    <div class="card popup-link">
                        <div class="card__block">
                            <h4>Кандидатская диссертация “под ключ”</h4>
                            <div class="card__block_part">
                                <div>
                                    <p class="price">от 58 000 грн</p>
                                    <p class="benefit">(Выгода до 25%)</p>
                                </div>
                                <a class="btn popup-link" href="#popup">Проконсультироваться</a>
                            </div>
                        </div>
                        <div class="separated">
                            <p class="separated__title">Если заказывать отдельно:</p>
                            <ul>
                                <li>Работа от 45 000 грн </li>
                                <li>Статья ВАК от 2 300 грн</li>
                                <li>Статья для Scopus от 2 800 грн</li>
                                <li>Автореферат от 12 000 грн</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card popup-link">
                        <div class="card__block">
                            <h4>докторская диссертация “под ключ”</h4>
                            <div class="card__block_part">
                                <div>
                                    <p class="price">от 210 000 грн</p>
                                    <p class="benefit">(Выгода до 35%)</p>
                                </div>
                                <a class="btn popup-link" href="#popup">Проконсультироваться</a>
                            </div>
                        </div>
                        <div class="separated">
                            <p class="separated__title">Если заказывать отдельно:</p>
                            <ul>
                                <li>Работа от 120 000 грн </li>
                                <li>Статья ВАК от 2 800 грн</li>
                                <li>Статья для Scopus от 3 300 грн</li>
                                <li>Автореферат от 19 000 грн</li>
                                <li>Монография от 50 000 грн</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card popup-link">
                        <div class="card__block">
                            <div class="card__block_title">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="./img/sprite.svg#wave"></use>
                                </svg>
                                <h4>Дополнительно</h4>
                            </div>
                            <div class="card__block_part">
                                <div>
                                    <p class="price">от 2 300 грн</p>
                                </div>
                                <a class="btn popup-link" href="#popup">Проконсультироваться</a>
                            </div>
                        </div>
                        <div class="separated">
                            <ul>
                                <li>Тезисы (апробация)</li>
                                <li>Патенты (для технических специальностей)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="bg-title">PhD</p>
            </div>
        </div>
    </section>
    <section class="we-are-choosed">
        <div class="container">
            <h2><span class="red">Нас выбирают</span> не просто так</h2>
            <div class="we-are-choosed__block1">
                <div class="we-are-choosed__block1_img">
                    <img src="./img/img3.png" alt="img">
                </div>
                <div class="we-are-choosed__block1_points">
                    <div>
                        <div class="point">
                            <p class="point__number">01</p>
                            <div class="absolute-block">
                                <p class="point__title">Справляемся со всеми специальностями и уровнями сложности. </p>
                                <p class="point__text">Для нас нет ничего невозможного</p>
                            </div>
                        </div>
                        <div class="point">
                            <p class="point__number">02</p>
                            <div class="absolute-block">
                                <p class="point__title">Даем настоящие гарантии </p>
                                <p class="point__text">Дорожим будущим клиентов и своей репутацией</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            <p class="point__number">03</p>
                            <div class="absolute-block">
                                <p class="point__title">Полное сопровождение до защиты. </p>
                                <p class="point__text">Работаем понятно и прозрачно. Контроль процесса с вашей стороны</p>
                            </div>
                        </div>
                        <div class="point">
                            <p class="point__number">04</p>
                            <div class="absolute-block">
                                <p class="point__title">Понимаем своих клиентов с полуслова.<span class="point__text"> Всегда договоримся, найдем компромисс</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 id="portfolio"><span class="red">Мы понимаем</span>, насколько важно найти хороших исполнителей для своей диссертации, поэтому показываем вам, какие <span class="red">работы способны выполнять.</span></h3>
            <div class="subtitle">
                <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#wave"></use>
                </svg>
                <p>По понятным причинам, название тем немного видоизменили. Анонимность превыше всего</p>
            </div>
        </div>
        <div class="we-are-choosed__block2">
            <div class="we-are-choosed__block2_item">
                <div class="container">
                    <p class="title">Специальность: Авиа-ракетостроение</p>
                    <p class="text">Тема: "Прямоточные двигатели в ракетостроении. Регулирование расхода топлива"</p>
                </div>
            </div>
            <div class="we-are-choosed__block2_item">
                <div class="container">
                    <p class="title">Специальность: Психология</p>
                    <p class="text">Тема: "Формирование профессионально-ценностных ориентаций будущих работников с/х в профессиональных технических училищах"</p>
                </div>
            </div>
            <div class="we-are-choosed__block2_item">
                <div class="container">
                    <p class="title">Специальность: Электротехника</p>
                    <p class="text">Тема: "Метрологическое обеспечивание термометрических систем..."</p>
                </div>
            </div>
            <div class="we-are-choosed__block2_item">
                <div class="container">
                    <p class="title">Специальность: Информационные технологии</p>
                    <p class="text">Тема: "Теоретические и практические принципы обеспечивания комплексной защиты компьютерных систем и сетей (на примере Аппаратно-реализованной системы защиты сети самообучающимися антивирусными модулями)</p>
                </div>
            </div>
            <div class="we-are-choosed__block2_item">
                <div class="container">
                    <p class="title">Специальность: Педагогика</p>
                    <p class="text">Тема: "Использование информационно-коммуникационных технологий в процессе обучения иностранных студентов на английском языке в Великобритании"</p>
                </div>
            </div>
            <div class="we-are-choosed__block2_item">
                <div class="container">
                    <p class="title">Специальность: Маркетинг</p>
                    <p class="text">Тема: "Организационно-экономический механизм в маркетинге (на примере отечественных предприятий по производству стали)</p>
                </div>
            </div>
        </div>
    </section>
    <section class="show-us">
        <div class="container">
            <h3>Покажите нам <span class="red">свою тему</span></h3>
            <div class="subtitle">
                <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#wave"></use>
                </svg>
                <p>Сделаем все, чтобы вы успешно получили степень</p>
            </div>
            <div class="show-us__block1">
                <div class="show-us__block1_item">
                    <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="./img/sprite.svg#plagiarism"></use>
                    </svg>
                    <p>никакого плагиата</p>
                </div>
                <div class="show-us__block1_item">
                    <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="./img/sprite.svg#confidentiality"></use>
                    </svg>
                    <p>конфиденциальность</p>
                </div>
                <div class="show-us__block1_item">
                    <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="./img/sprite.svg#escort"></use>
                    </svg>
                    <p>полное сопровождение</p>
                </div>
            </div>
            <form class="show-us__block-form">
                <div>
                    <input class="input-name" type="text" placeholder="Ваше имя">
                    <p class="error name-error"></p>
                </div>
                <div>
                    <input class="input-tel" type="tel" placeholder="+380 (99) 999-99-99">
                    <p class="error tel-error"></p>
                </div>
                <input class="input-details" type="text" placeholder="Какая у вас специальность, сроки, какие имеются наработки">
                <button class="btn wait-btn" type="submit">Проконсультироваться</button>
            </form>
        </div>
    </section>
    <section class="no-matter">
        <div class="container">
            <div class="no-matter__block1">
                <h3>вовсе не важно, для какой цели вы <span class="red">получаете научное звание</span></h3>
                <div class="subtitle">
                    <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="./img/sprite.svg#wave"></use>
                    </svg>
                    <p>Для продвижения в карьере или для регалий в научной деятельности</p>
                </div>
                <p class="no-matter__block1_text">напишем работу <span class="bold">конкретно под ваш запрос</span>, с необходимой глубиной научного исследования и <span class="red">под имеющийся бюджет!</span></p>
            </div>
            <div class="no-matter__img">
                <img src="./img/img4.jpg" alt="img">
            </div>
        </div>
    </section>
    <section class="your-task">
        <div class="container">
            <div>
                <p class="your-task__title">Ваша задача предоставить нам необходимый материал, установить сроки выполнения</p>
                <p class="your-task__text">Наше обязательство — отдать вам готовый, оформленный текст</p>
            </div>
        </div>
    </section>
    <section class="imagine" id="why-we">
        <div class="container">
            <h3>представьте, сколько времени мы можем <span class="red">сэкономить для вас</span></h3>
            <div class="subtitle">
                <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="./img/sprite.svg#wave"></use>
                </svg>
                <p>По нашей статистике, в среднем мы экономим своим клиентам от 4 до 9 месяцев жизни</p>
            </div>
            <div class="imagine__cards">
                <div class="imagine__cards_card">
                    <p class="number">1</p>
                    <p class="text">В разработке правильного содержания, чтобы в дальнейшем хватило материала для написания разделов</p>
                </div>
                <div class="imagine__cards_card">
                    <p class="number">2</p>
                    <p class="text">В поиске и подборе огромного количества литературы, ее обрабатывании и внедрении в труд</p>
                </div>
                <div class="imagine__cards_card">
                    <p class="number">3</p>
                    <p class="text">В форматировании текста для прохождения строгих систем проверки плагиата</p>
                </div>
                <div class="imagine__cards_card">
                    <p class="number">4</p>
                    <p class="text">В проведении длительных сложных исследований, разработке практической значимости труда</p>
                </div>
            </div>
            <div class="imagine__form">
                <div>
                    <h5>Если вы все еще<br> сомневаетесь, сможем ли <span class="red">мы качественно вам помочь</span></h5>
                    <p>Оставьте свой контакт и мы убедим вас, что сотрудничество с нами — <span class="red uppercase bold">одно из самых правильных ваших решений за последние несколько лет</span></p>
                </div>
                <form>
                    <input class="input-name" type="text" placeholder="Ваше имя">
                    <p class="error name-error"></p>
                    <input class="input-tel" type="tel" placeholder="+380 (99) 999-99-99">
                    <p class="error tel-error"></p>
                    <button class="btn wait-btn" type="submit">Жду звонка</button>
                </form>
            </div>
        </div>
    </section>
</main>