<main class="main">
    <div class="container">
        <img class="wave-img" src="./img/img1.png" alt="img">
        <section class="main-section">
            <div class="main-section__block1">
                <h1>Поможем в разработке диссертации <span class="red">"под ключ"</span></h1>
                <p>Какая у вас специальность? Сроки? Какие наработки имеются?</p>
                <a class="btn popup-link" href="#popup">Проконсультироваться</a>
                <span class="main-section__block1_span">Просчитаем стоимость вашей работы и сформируем предложение</span>
            </div>
            <div class="main-section__block2">
                <div class="main-section__block2_item">
                    <p>4<span>+</span></p>
                    <p>Года в деле</p>
                </div>
                <div class="main-section__block2_item">
                    <p>64<span>+</span></p>
                    <p>Трудов защитили, благодаря нам</p>
                </div>
                <div class="main-section__block2_item">
                    <p><span>до </span>40</p>
                    <p>лет опыт наших авторов</p>
                </div>
                <div class="main-section__block2_item">
                    <p><span>от </span>3</p>
                    <p>месяцев пишем работы</p>
                </div>
            </div>
            <div class="main-section__block3">
                <div class="main-section__block3_img"><img src="./img/img2.png" alt="img"></div>
                <div>
                    <h2>Знаем свое <span class="red">дело</span></h2>
                    <svg class="icon-box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="./img/sprite.svg#wave"></use>
                    </svg>
                    <p>К нам обращаются люди, которые знают, чего хотят, четко идут к своим целям в научных достижениях. И мы им в этом помогаем!</p>
                </div>
            </div>
        </section>
    </div>
</main>